@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: #0B1D26; */
}

body {
  background: #0B1D26;
}

:root {
  --font-playfair: 'Playfair Display', serif;
  --font-poppins: 'Poppins', sans-serif;

}
