@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: #0B1D26; */
}

body {
  background: #0B1D26;
}

:root {
  --font-playfair: 'Playfair Display', serif;
  --font-poppins: 'Poppins', sans-serif;

}

.parallax-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  will-change: transform;
  transform: translateZ(0); /* Mengontrol kedalaman layer */
  z-index: 0;
}

.parallax-layer:nth-child(1) {
  z-index: -3;
}

.parallax-layer:nth-child(2) {
  z-index: -2;
}

.parallax-layer:nth-child(3) {
  z-index: -1;
}

.parallax-layer:nth-child(4) {
  z-index: 0;
}

.relative.z-10 {
  z-index: 10;
}
